<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SentiText</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>SentiText</h1>
    </header>

    <main>
        <div class="legend">
            <p class="info">A <span class="info-text negative-text">red</span> background indicates <em>negative</em> sentiment.
            A <span class="info-text neutral-text">green</span> background indicates <em>neutral</em> sentiment.
            A <span class="info-text positive-text">blue</span> background indicates <em>positive</em> sentiment.
            </p>
        </div>
        <div class="editor">
            <span class="editor-placeholder">Write text here...</span>
            <p id="editor-text" contenteditable="true"></p>
        </div>
    </main>

    <script src="../static/socket.js"></script>
    <script src="../static/index.js"></script>
</body>

</html>